<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hsncrypto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/Theme.HsnCrypto">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true" >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HsnCrypto.NoActionBar" />
        <activity
            android:name=".DetailCoin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>

        <receiver
            android:name=".LayoutWidgets"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgets_appinfo" />
        </receiver>
        <receiver
            android:name=".WidgetsService"
            android:enabled="true" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>